.formGroup {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px;
  max-width: 100%;
  border: 1px solid rgb(209, 194, 194);
  border-radius: 4px;
  box-shadow: rgb(143 143 143) 2px 4px 6px;
}

.btn:hover,
.btn:focus {
  background-color: rgb(22, 97, 116);
  color: white;
  font-weight: bold;
}

.field {
  padding: 10px;
  border: 1px solid rgb(22, 97, 116);
  border-radius: 8px;
  font-family: inherit;
  color: rgb(22, 97, 116);
}

.input {
  font-family: inherit;
  padding: 6px;
  color: rgb(22, 97, 116);
  border: 1px solid rgb(22, 97, 116);
  border-radius: 8px;
}

.label {
  font-size: 20px;
  color: rgb(22, 97, 116);
}
