.list {
  padding-left: 0;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgb(22, 97, 116);
  font-size: 16px;
  font-weight: 700;
}

.item:not(last-child) {
  margin-bottom: 10px;
}

.btn {
  padding: 4px 24px;
  border: none;
  border-radius: 8px;
  color: #fff;
  background-color: rgb(22, 97, 116);
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  box-shadow: rgb(108 86 86) 1px 1px 5px;
}

.btn:hover,
.btn:focus {
  background-color: rgb(8, 71, 88);
}
