.list {
  padding-left: 0;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgb(54, 90, 62);
  font-size: 16px;
  font-weight: 700;
}

.item:not(last-child) {
  margin-bottom: 10px;
}

.btn {
  padding: 4px 24px;
  border: none;
  border-radius: 8px;
  color: rgb(43, 46, 44);
  background-color: rgb(87, 145, 101);
  font-size: 1em;
  box-shadow: rgb(108 86 86) 1px 1px 5px;
}

.btn:hover,
.btn:focus {
  background-color: rgb(12, 75, 56);
  color: white;
  font-weight: bold;
}
